.site-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 14px 32px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;

    border-radius: 1px;
    cursor: pointer;
    transition: all 0.2s ease;

    background: transparent;
    width: 160px;
    height: 30x;
}

.button-black{
   border: 1.5px solid #1f1f1f;
    background-color: #1f1f1f;
    color: #ffffff;
}
.button-black:hover{
    background-color: #2f2f2f;
    color: #ffffff;
}
.button-white{
    color:#1f1f1f;
    border: 1.5px solid #1f1f1f;
}

