
.buy-button-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    height: 0; 
    overflow: hidden;
}


.product-card-hoverable:hover .buy-button-wrapper {
    opacity: 1;
    visibility: visible;
    height: auto; 
    margin-top: 5px;
}


.buy-button-wrapper .site-button {
    width: 100% !important; 
    max-width: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
}


.mt-auto {
    min-height: 140px;
    justify-content: flex-end;
}