.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20000; /* Максимальний пріоритет */
}

.preloader-content {
  text-align: center;
}

.preloader-logo {
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
  animation: pulse 1.5s infinite ease-in-out;
}

.preloader-bar-container {
  width: 200px;
  height: 2px;
  background-color: #eeeeee;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.preloader-bar {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  left: -100%;
  animation: loading 1.5s infinite linear;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes loading {
  0% { left: -100%; }
  100% { left: 100%; }
}