.site-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 14px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  border-radius: 1px;
  width: fit-content;
}

/* Чёрный DEAL */
.label-black {
  background-color: #1f1f1f;
  color: #ffffff;
}

/* Фиолетовая скидка */
.label-purple {
  background-color: #6c3cff;
  color: #ffffff;
}
